<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Cargos</title>
</head>
<body>
    <h1>Listado de Cargos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cargo : ${cargos}">
                <td th:text="${cargo.id}"></td>
                <td th:text="${cargo.nombre}"></td>
                <td th:text="${cargo.descripcion}"></td>
                <td>
                    <a th:href="@{/cargos/{id}(id=${cargo.id})}">Ver</a>
                    <a th:href="@{/cargos/editar/{id}(id=${cargo.id})}">Editar</a>
                    <a th:href="@{/cargos/eliminar/{id}(id=${cargo.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/cargos/registrar">Agregar Nuevo Cargo</a>
</body>
</html>
