<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Citas</title>
</head>
<body>
    <h1>Listado de Citas</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Veterinario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cita : ${citas}">
                <td th:text="${cita.id}"></td>
                <td th:text="${cita.fecha}"></td>
                <td th:text="${cita.veterinario.nombre}"></td>
                <td>
                    <a th:href="@{/citas/{id}(id=${cita.id})}">Ver</a>
                    <a th:href="@{/citas/eliminar/{id}(id=${cita.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/citas/registrar">Agregar nueva cita</a>
</body>
</html>
