<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Listado de Clientes</title>
</head>
<body>
    <h1>Listado de Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.email}"></td>
                <td>
                    <a th:href="@{/clientes/{id}(id=${cliente.id})}">Ver</a>
                    <a th:href="@{/clientes/eliminar/{id}(id=${cliente.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/clientes/registrar">Agregar nuevo cliente</a>
</body>
</html>
