<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agregar Nuevo Veterinario</title>
</head>
<body>
    <h1>Agregar Nuevo Veterinario</h1>
    <form action="#" th:action="@{/veterinario/nuevo}" th:object="${veterinario}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" th:field="*{nombre}" required /><br>

        <label for="especialidad">Especialidad:</label>
        <input type="text" id="especialidad" th:field="*{especialidad}" required /><br>

        <button type="submit">Guardar Veterinario</button>
    </form>
    <a href="/veterinarios">Volver al listado</a>
</body>
</html>
